@model IEnumerable<Labb4_uppg2.Models.Grade>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseGrade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseGrade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GradeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GradeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GradeId })
        </td>
    </tr>
}

</table>
