@model AjaxWebbApplication.Models.Rabbit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rabbit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AngerLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AngerLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div id="GrudgeContainer">
    @Html.Action(
        actionName: "_GrudgesForRabbit",
        controllerName: "Grudge",
        routeValues: new {id = Model.ID}
        )
</div>

<div id="ExpandGrudgeContainer">
    @Html.Action(
        actionName: "_Create", //Vi skapar en _create i Grudgecontroller
        controllerName: "Grudge",
        routeValues: new {id = Model.ID}
        )
</div>

//Just nu har vi dubletter men det räcker med att vi använder en av dem.. 