@model Forelasning1.Models.RecipeDetailsModel
@{
    ViewBag.Title = "FullDetails";
}

<h2>FullDetails of @Model.Name</h2>
<h3>Difficulty @Model.Difficulty</h3>

<h3>Ingredients</h3>
<p>
    @(Model.Ingredients.Length < 20 ? Model.Ingredients : Model.Ingredients.Substring(0,17)+ "...")  ///Visar endast 17 tecken och sen punkter efter det..
</p>

<h3>Cooking Time</h3>
<p>@Model.CookingTime</p>

<h3>Instructions</h3>
<p>@Model.Instructions</p>

<h3>Nisse</h3>
@*<p>@(Model.Nisse ?? "No description available.")</p>*@

<p>Follow me at Twitter</p>