@model IEnumerable<Forelasning1.Models.KungFuMasterModel>

@{
    ViewBag.Title = "FullDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FullDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    //Scaffolding gör en direkt mappning mot modellen.. Får med alla input för att skapa en "kungfumästare"
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KungFuStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KungFuStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.ID}) |
                @Html.ActionLink("Details", "Details", new {id = item.ID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.ID})
            </td>
        </tr>
    }

</table>
