@model IEnumerable<LektionsovningCodeFirst.Sallery>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkedHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursOfPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoneyOut)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkedHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursOfPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoneyOut)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SalleryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SalleryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SalleryId })
        </td>
    </tr>
}

</table>
